In [1]:
import pandas
import os

In [10]:
pandas.__file__
os.__file__

'/usr/lib64/python3.6/os.py'

In [26]:
os.listdir('/mnt/lnxsasdtcn/sas/APPSAS/RE_DESARROLLO/PAD/202103')

['SHRVK862_01.TXT',
 'SHRVK863_01.TXT',
 'SHRVK873_01.TXT',
 'SHRVK881_01.TXT',
 'SHRVK883_01.TXT',
 'SHRVK858_01.TXT',
 'SHRVK859_01.TXT']

In [8]:
import pandas as pd

tb_campos = pd.read_sas('/mnt/lnxsasdtcn/sas/APPSAS/SOURCE/campos.sas7bdat')

In [73]:
import pandas as pd
tb_campos = pd.read_csv("/mnt/lnxsasdtcn/sas/APPSAS/RE_DESARROLLO/PAD/202103/SHRBK187_01.TXT", sep='#',engine='python', encoding = "ISO-8859-1" , header=None)

In [86]:
tb_campos[tb_campos.duplicated()]

,0,1,2,3,4,5,6,7,8,9,...,53,54,55,56,57,58,59,60,61,62
4700,JV,116287843010,30,Anulacion sin reemision ...,11650000533430,13,HG_GAMA,1165,1165 SEG VIV REM EXT,EUR,...,6,BBVA OPERADOR BANCASEGUROS ...,"000000000000,000","000000000000,000",53063112L,"JIMENEZ VENTEO, SERGIO ...",1,,...,116500533430
4702,JV,116287853910,30,Anulacion sin reemision ...,11650000533430,13,HG_GAMA,1165,1165 SEG VIV REM EXT,EUR,...,6,BBVA OPERADOR BANCASEGUROS ...,"-000000000012,620","000000000000,000",53063112L,"JIMENEZ VENTEO, SERGIO ...",0,,...,116500533430
5073,JV,116687984810,30,Anulacion sin reemision ...,11650000514182,15,HG_GAMA,1165,1165 SEG VIV REM EXT,EUR,...,6,BBVA OPERADOR BANCASEGUROS ...,"-000000000075,400","000000000000,000",35973630C,"RIVEIRO FERNANDEZ, NIEVES ...",0,,...,116500514182

In [89]:
#116287843010
tb_campos[tb_campos[:][1]==116287843010]

,0,1,2,3,4,5,6,7,8,9,...,53,54,55,56,57,58,59,60,61,62
4699,JV,116287843010,30,Anulacion sin reemision ...,11650000533430,13,HG_GAMA,1165,1165 SEG VIV REM EXT,EUR,...,6,BBVA OPERADOR BANCASEGUROS ...,"000000000000,000","000000000000,000",53063112L,"JIMENEZ VENTEO, SERGIO ...",1,,...,116500533430
4700,JV,116287843010,30,Anulacion sin reemision ...,11650000533430,13,HG_GAMA,1165,1165 SEG VIV REM EXT,EUR,...,6,BBVA OPERADOR BANCASEGUROS ...,"000000000000,000","000000000000,000",53063112L,"JIMENEZ VENTEO, SERGIO ...",1,,...,116500533430

In [ ]:
tb_campos[tb_campos[:][1]==116287843010].to_csv('duplicados.csv')